/ {
    &studio_unlock

    kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 27 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};
