#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
                &kp S
                &kp D
                &kp F
                &kp V
                &kp N
                &kp J
                &kp K
                &kp L
            >;
        };

        layer1 {
            status = "reserved";
        };

        layer2 {
            status = "reserved";
        };
        
        layer3 {
            status = "reserved";
        };
    };
};