#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    keymap {
        compatible = "zmk,keymap";
        layer0 {
            display-name = "Layer 1";
            bindings = <
                &kp S
                &kp D
                &kp F
                &kp V
                &kp N
                &kp J
                &kp K
                &kp L
            >;
        };
        layer1 {
            display-name = "Layer 2";
            bindings = <
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            >;
        };
        layer2 {
            display-name = "Layer 3";
            bindings = <
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            >;
        };
        layer3 {
            display-name = "Layer 4";
            bindings = <
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            >;
        };
    };

    physical-layout {
        compatible = "zmk,physical-layout";
        display-name = "8kMania";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  120    0       0     0     0>
            , <&key_physical_attrs 100 100  220  100       0     0     0>
            , <&key_physical_attrs 100 100  180  260       0     0     0>
            , <&key_physical_attrs 100 100  400  260       0     0     0>
            , <&key_physical_attrs 100 100  360  100       0     0     0>
            , <&key_physical_attrs 100 100  460    0       0     0     0>
            , <&key_physical_attrs 100 100  580    0       0     0     0>
            ;
    };
};