#include <behaviors.dtsi>

/ {
    chosen {
        zmk,studio-unlock = &studio_unlock;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <&kp S>,
                       <&kp D>,
                       <&kp F>,
                       <&kp V>,
                       <&kp N>,
                       <&kp J>,
                       <&kp K>,
                       <&kp L>;
        };
        layer1 {
            bindings = <&kp S>,
                       <&kp D>,
                       <&kp F>,
                       <&kp V>,
                       <&kp N>,
                       <&kp J>,
                       <&kp K>,
                       <&kp L>;
        };
        layer2 {
            bindings = <&kp S>,
                       <&kp D>,
                       <&kp F>,
                       <&kp V>,
                       <&kp N>,
                       <&kp J>,
                       <&kp K>,
                       <&kp L>;
        };
        layer3 {
            bindings = <&kp S>,
                       <&kp D>,
                       <&kp F>,
                       <&kp V>,
                       <&kp N>,
                       <&kp J>,
                       <&kp K>,
                       <&kp L>;
        };
    };
};
